@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

.borderBlack {
  @apply border border-black/10;
}

@layer base {
  :root {
    --black: 0 0% 9%;

    --cream: 26 100% 95%;
    --cream-secondary: 26 7% 72%;

    --blue: 224 92% 90%;
    --blue-secondary: 223 19% 56%;
    --blue-foreground: 225 17% 37%;
  }
}
