@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

@layer base {
  :root {
    --black: 0 0% 9%;

    --cream: 26 100% 95%;
    --cream-secondary: 26 7% 72%;

    --blue: 224 92% 90%;
    --blue-secondary: 223 19% 56%;
    --blue-foreground: 225 17% 37%;
  }

  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 12rem;
    height: 12rem;
    pointer-events: none;
    opacity: 0;
  }

  .cursor__media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .cursor__media.active {
    opacity: 0.8;
  }
}

/* FOR SCROLL BAR STYLE */
@layer base {
  * {
    scrollbar-width: thin; /* Firefox */
    cursor: none;
  }
  ::-webkit-scrollbar {
    width: 6px; /* Chrome, Safari, Edge */
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Dark thumb for light mode */
    border-radius: 4px;
  }
  /* Firefox */
  html {
    scrollbar-color: rgba(0, 0, 0, 0.2) unset;
  }
}
